a{
  text-decoration: none;
}
.nav-link:hover ~ .dropdown-menu, .dropdown-menu:hover, .modal{
  display: block;
}

.abreCarrito{
  visibility: visible;
  transform: none !important; 
  /* NO ENCONTRE OTRA SOLUCION QUE AGREGAR EL !IMPORTANT PARA SOBRESCRIBIR A BOOTSTRAP */
}

.noShow{
  display: none;
}
main{
  margin-top: 8vh;
}